main {
  min-height: 80vh;
}

.rating-text {
  font-size: 1rem;
  font-weight: 600;
}

/* This part is to design the star ratings... */
.star-wrapper {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.star-wrapper .empty-star {
  color: lightgray;
  position: absolute;
}

.star-wrapper .filled-star {
  color: green;
  position: absolute;
}


/* To make a box around the star and ratings in prduct-details page */
.card-styles {
  margin-top: 12px;
  width: 12rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for In stock or Out of Stock */
.in-stock-out-of-stock{
  margin-top: 12px;
  width: 8rem;
  height: 2.5rem;
  display: flex;
  align-items: center;  /* Centers vertically */
  justify-content: center; /* Centers horizontally */
  text-align: center;
  font-weight: 500;
}
.in-stock{
  background-color: rgb(227, 245, 239);
}
.out-of-stock{
  background-color: #f5e7e7;
}


/* This is to put ellipsis to wrap the content in home screen */
.product-title {
  height: auto;
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.custom-cart-badge {
  position: absolute;
  top: 10%;
  left: 85%; /* Default for large screens */
  transform: translate(-50%, -50%);
}

@media (max-width: 992px) {
  /* For medium screens (md) */
  .custom-cart-badge {
    left: 52%;
  }
}

@media (max-width: 768px) {
  /* For small screens (sm) */
  .custom-cart-badge {
    left: 53%;
  }
}

@media (max-width: 576px) {
  /* For extra small screens (xs) */
  .custom-cart-badge {
    left: 53%;
  }
}


.increase-decrease-cart-items{
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.on-hover-product-name:hover{
  color: blue;
}

/* LOGIN SCREEN RELATED CODE.... */
.login-container {
  background: #f9f9f9;
  height: 800px;
}

.illustration-section {
  background: #ffefe6; /* Light peach background */
}

a {
  text-decoration: none;
}

.customBtn{
  background-color: #F47458;
  border: none;
  border-radius: 30px;
  width: 110px;
}

.customBtn:hover{
  background-color: #F47458;
}

.form-control{
  background-color: #FFF6F4;
}

/* Centering the form section with square box */
.square-card.login {
  padding: 25px;
  max-width: 598px; /* Fixed width */
  max-height: 701px; /* Fixed height for square shape */
  border-radius: 20px; /* Optional: rounded corners */
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2); /* Soft shadow */
}
.square-card.register {
  padding: 25px;
  max-width: 600px; /* Fixed width */
  max-height: 701px; /* Fixed height for square shape */
  border-radius: 20px; /* Optional: rounded corners */
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2); /* Soft shadow */
}

/* Illustration image styling */
.customImage img {
  height: auto;
  max-width: 729px;
  max-height: 450px;
  position: absolute; /* Enables x, y positioning */
  top: 273px; /* Y-axis position */
  left: 1021px; /* X-axis position */
}